<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nhập danh mục</h1>
    <form action="/admin/category/type/add" method="post">
        <input type="text" name="type"  value="<%= params %>" hidden="true">
        Nhập tên danh mục: <input type="text" name="name"  value="">
            <button type="submit">Lưu</button>
    </form>
    <div>/////</div>
    <div>/////</div>
</body>
</html>