
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Quản lý tài khoản</title>
    <link rel="icon" href="../../../public/images/shop/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../../../public/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/ADMINQuanLyTaiKhoan.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/HeaderADMIN.css" />
  </head>
  <body>
    <div class="adminquanlytaikhoan">
      <header class="container-204-1">
        <div class="group-878">
          <img src="../../../public/images/shop/Logo_Text.png" alt="header logo" class="header-logo" />
          <ul class="group-481">
            <li>
              <a href="http://localhost:8081/admin/seller">
                <div class="group-205">
                  <h6 class="qu-n-l-t-i-kho-n-1 ui heading size-s">Quản lý tài khoản</h6>
                  <div class="rectangle"></div>
                </div>
              </a>
            </li>
            <li>
              <a href="http://localhost:8081/admin/category" class="qu-n-l-danh-m-c-link">
                <p class="qu-n-l-danh-m-c ui text size-lg">Quản lý danh mục</p>
              </a>
            </li>
            <li>
              <a href="http://localhost:8081/admin/seller/regis" class="qu-n-l-danh-m-c-link">
                <p class="qu-n-l-danh-m-c ui text size-lg">Duyệt tài khoản bán hàng</p>
              </a>
            </li>
            <li>
              <a href="#" class="qu-n-l-danh-m-c-link">
                <p class="qu-n-l-danh-m-c ui text size-lg">Thống kê</p>
              </a>
            </li>
          </ul>
        </div>
      </header>
      <div class="group-566">
        <div class="group-567">
          <div class="group-558">
            <h1 class="ch-m-s-c-kh-ch-h-ng ui heading size-2xl">Trang Admin</h1>
           
          </div>
          <div class="line-43 container-xs"></div>
        </div>

      </div>
    </div>
  </body>
</html>

