<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    đây là trang login admin
    <form action="/admin/login" method="POST">
        ussername: <input type="text" name="user">
        pass: <input type="password" name="pass">
        <button type="submit">login</button>
        
    </form>
</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ADMIN Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../../../public/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/ADMINDangNhap.css" />
  </head>
  <body>
    <div class="admindangnhap">
      <img src="../../../public/images/shop/Logo_Text.png" alt="header logo" class="header-logo" />
      <div class="group-877">
        <div class="group-550 container-xs">
          <div class="flex-col-center-center container-198">
            <div class="group-147">
              <img src="../../../public/images/shop//Logo.png" alt="image" class="image" />
              <h1 class="bushop ui heading size-2xl">BUSHOP</h1>
            </div>
            <h2 class="ng-nh-p-admin ui heading size-3xl">Đăng nhập ADMIN</h2>
            <p class="trang-ng-nh-p ui text size-md">Trang đăng nhập cho quản trị viên</p>

            <form action="/admin/login" method="POST" class="group-152">
              <div class="group-149">
                <h3 class="t-i-kho-n ui heading size-md">Tài khoản</h3>
                <label class="textfield ui input white_a700 size-md fill">
                  <input name="user" placeholder="Tài Khoản" type="text" />
                </label>
              </div>
              <div class="group-150">
                <h4 class="t-i-kho-n ui heading size-md">Mật khẩu</h4>
                <label class="textfield ui input white_a700 size-md fill">
                  <input name="pass" placeholder="Nhập mật khẩu" type="text" />
                </label>
              </div>
              <a href="./ADMINQuanLyTaiKhoan.html"><button class="button-137 ui button deep_orange_300 size-5xl fill">Đăng nhập</button></a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

