<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    helllo <%= admin.admin %>
    <button><a href="/admin/seller/regis">duyệt seller</a></button>
    <div>
        <% for(var i = 0; i < data.length; i++) { %>
            <li><a href="/products/<%= data[i].Seller_id %>"><%= data[i].Shop_name %></a>   </li>
          <% } %> 
    </div>
</body>
</html>