<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    helllo <%= admin.admin %>
    <div>
        <% for(var i = 0; i < data.length; i++) { %>
            <li><a href="/admin/seller/regis/<%= data[i].Buyer_id %>"><%= data[i].Shop_name %></a>  <button> duyệt</button> </li>
          <% } %> 
    </div>
</body>
</html>