<ul class="group-468">
    <li>
      <a href="./BUYERHoSoCuaToi.html" class="selected">
        <img src="../../../public/images/shop/hosocuatoi_selected.png" alt="file article" class="cart" />
        <span> Hồ sơ của tôi</span>
      </a>
    </li>
    <li>
      <a href="./BUYERDoiMatKhau.html">
        <img src="../../../public/images/shop/doimatkhau_default.png" alt="lock" class="cart" />
        <span> Đổi mật khẩu</span>
      </a>
    </li>
    <li>
      <a href="http://localhost:8081/buyer/cart">
        <img src="../../../public/images/shop/giohang_default.png" alt="shopping cart" class="cart" />
        <span> Giỏ hàng</span>
        <div class="group-466">
          <p class="frame-94 ui text size-s">9</p>
        </div>
      </a>
    </li>
    <li>
      <a href="http://localhost:8081/buyer/history">
        <img src="../../../public/images/shop/lichsumuahang_default.png" alt="history" class="cart" />
        <span> Lịch sử mua hàng</span>
      </a>
    </li>
    <li>
      <a href="http://localhost:8081/buyer/spending">
        <img src="../../../public/images/shop/thongbao_default.png" alt="alarm" class="cart" />
        <span>Chi tiêu</span>
        <div class="group-467">
          <p class="frame-95 ui text size-s">N</p>
        </div>
      </a>
    </li>
    <li>
      <a href="http://localhost:8081/buyer/seller">
        <img src="../../../public/images/shop/dangkybanhang_default.png" alt="passenger" class="cart" />
        <span> Đăng ký bán hàng</span>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="../../../public/images/shop/caidat_default.png" alt="search" class="cart" />
        <span> Cài đặt</span>
      </a>
    </li>
    <li>
      <a href="http://localhost:8081/logout">
        <img src="../../../public/images/shop/dangxuat_default.png" alt="qrcode" class="cart" />
        <span> Đăng xuất</span>
      </a>
    </li>
  </ul>