
/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/
/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.line-37 {
  height: 1px;
  margin-bottom: 8px;
  background-color: var(--gray_300);
  flex: 1;
  @media only screen and (max-width: 550px) {
    align-self: stretch;
  }
}
/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.buyerdangnhap {
  padding-top: 34px;
  background-color: var(--gray_50_01);
  box-shadow: var(--shadow-xs);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-11xl);
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 550px) {
    padding-top: var(--space-11xl);
  }
}
.group-169 {
  width: 72%;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding: var(--space-11xl);
  }
}
.group-622 {
  gap: 45px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.group-621 {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: var(--space-11xl);
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}
.image-101 {
  height: 306px;
  align-self: end;
  margin-bottom: 160px;
  width: 22%;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}
.image-100 {
  margin-top: 200px;
  height: 370px;
  width: 31%;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}
.container-158 {
  margin-bottom: 170px;
  gap: var(--space-12xl);
  background-color: var(--white_A700);
  box-shadow: var(--shadow-md);
  display: flex;
  width: 61%;
  flex-direction: column;
  align-items: start;
  padding: 42px 56px 39px 77px;
  border-radius: var(--radius-6xl);
  @media only screen and (max-width: 1050px) {
    width: 100%;
    padding-top: var(--space-11xl);
    padding-left: var(--space-11xl);
    padding-right: var(--space-11xl);
  }
  @media only screen and (max-width: 550px) {
    padding: var(--space-11xl);
  }
}
.bushop-xin-ch-o {
  margin-left: 100px;
  font-family: Noto Sans !important;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}
.textbox-39 {
  gap: var(--space-sm);
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: start;
}
.textbox-40 {
  margin-top: 15px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.group-613 {
  margin-top: 15px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: var(--space-11xl);
}
.luudangnhap{
  display: flex;
  gap: var(--space-5xl);

}
.qu-n-m-t-kh-u {
  color: var(--deep_orange_300) !important;
  align-self: start;
}
.button-151 {
  margin-top: 15px;
  width: 100%;
  border-radius: var(--radius-2xl);
  @media only screen and (max-width: 550px) {
    padding-left: var(--space-11xl);
    padding-right: var(--space-11xl);
  }
}
.group-614 {
  margin-top: 24px;
  gap: var(--space-5xl);
  align-self: stretch;
  display: flex;
  align-items: end;
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}
.or {
  height: 20px;
  color: var(--gray_700) !important;
  font-family: Noto Sans !important;
  width: 20px;
}
.group-615 {
  margin-top: 17px;
  gap: var(--space-8xl);
  display: flex;
}
.google {
  width: 80px;
}
.logo-fb-simple {
  width: 80px;
}
.apple {
  width: 80px;
}
.ch-a-c-t-i-kho-n {
  margin-top: 27px;
}
.ch-a-c-t-i-kho-n-span-1 {
  color: var(--deep_orange_300);
  font-weight: 700;
}

