<header class="container159">
    <div class="group-437">
      <a href="./BUYERTrangChu.html" target="_self">
        <img src="../../../public/images/shop/Logo_Text.png" alt="header logo" class="header-logo" />
      </a>
      <label class="textbox-41 ui input gray_100 size-xs fill round">
        <img src="../../../public/images/shop/icon_Find.png" alt="search" class="search" />
        <input name="Textbox 41" placeholder="Tìm kiếm sản phẩm" type="text" />
      </label>
      <div class="group-875">
        <a href="http://localhost:8081/buyer/cart">
          <img src="../../../public/images/shop/icon_giohang.png" alt="cart" class="cart" />
        </a>
        <a href="#">
          <img src="../../../public/images/shop/icon_thongBao.png" alt="bell 12" class="bell-12" />
        </a>
        <div class="group-24">
          <a href="/buyer/profile">
            <img src="../../../public/images/shop/icon_avata.png" alt="avatar 21" class="avatar-21" />
          </a>
          <p class="ui text size-md">Tài khoản</p>
          
          <img src="../../../public/images/shop/icon_dropdown.png" alt="arrow down" class="arrow-down" />
        </div>
      </div>
    </div>
  </header>