<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/seach" method="post">
        <input type="text" name="content">
        <button type="submit"></button>
    </form>
    helllo I Am <%= name %>
    <div>
        <% for(var i = 0; i < data.length; i++) { %>
            <li><a href=""><%= data[i].Name %></a></li>
          <% } %> 
    </div>
</body>
</html>