<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ﾄ妥｢y lﾃ trang login
    <form action="/login" method="POST">
        ussername: <input type="text" name="user">
        pass: <input type="password" name="pass">
        <button type="submit">login</button>
        
    </form>
</body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ﾄ斉ハg nh蘯ｭp</title>
    <link rel="icon" href="../../../public/images/shop/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../../../public/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/BUYERDangNhap.css" />
  </head>
  <body>
    <div class="buyerdangnhap">
      <div class="group-169">
        <div class="group-622">
          <img src="../../../public/images/shop/Logo_Text.png" alt="header logo" class="header-logo-4" />
          <div class="group-621">
            <img src="../../../public/images/shop/backgroundlogin1.png" alt="image 100" class="image-100" />
            <div class="container-158">
              <h1 class="bushop-xin-ch-o ui heading size-2xl">Bushop xin chﾃo 汨</h1>
              <div class="group-168">
                <form class="group-620" action="/login" method="POST">
                  <div class="textbox-39">
                    <h2 class="t-i-kho-n ui heading size-md">Tﾃi kho蘯｣n</h2>
                    <label class="textfield-4 ui input gray_100 size-md fill">
                      <img src="../../../public/images/shop/icon_email.png" alt="lock" class="lock" />
                      <input name="user" placeholder="Nh蘯ｭp email" type="email" />
                    </label>
                  </div>
                  <div class="textbox-40">
                    <h3 class="t-i-kho-n ui heading size-md">M蘯ｭt kh蘯ｩu</h3>
                    <label class="textfield-5 ui input gray_100 size-md fill">
                      <img src="../../../public/images/shop/icon_password.png" alt="lock" class="lock" />
                      <input name="pass" placeholder="Nh蘯ｭp m蘯ｭt kh蘯ｩu" type="password" />
                    </label>
                  </div>
                  <div class="group-613">
                    <div class="luudangnhap">
                      <label class="l-u-ng-nh-p ui checkbox" >
                        <input class="ui checkbox square" type="checkbox" name="L u   ng nh p" />
                        <div style="width: 200px;">
                          <p>Lﾆｰu ﾄ惰ハg nh蘯ｭp</p>
                        </div>
                      </label>
                    </div>
                    <a href="./BUYERQuenMatKhau.html" target="_self">
                      <p class="qu-n-m-t-kh-u ui text size-md">Quﾃｪn m蘯ｭt kh蘯ｩu ?</p>
                    </a>
                  </div>
                  <a href="./BUYERTrangChu.html" target="_self">
                    <button type="submit" class="button-151 ui button deep_orange_300 size-5xl fill">ﾄ斉ハg nh蘯ｭp</button>
                  </a>
                  <div class="group-614">
                    <div class="line-37"></div>
                    <p class="or ui text size-md">OR</p>
                    <div class="line-37"></div>
                  </div>
                  <div class="group-615">
                    <button class="google ui button white_a700 size-4xl fill circle">
                      <img src="../../../public/images/shop/login_google.png" />
                    </button>
                    <button class="logo-fb-simple ui button white_a700 size-4xl fill circle">
                      <img src="../../../public/images/shop/login_facebook.png" />
                    </button>
                    <button class="apple ui button white_a700 size-4xl fill circle">
                      <img src="../../../public/images/shop/login_iclound.png" />
                    </button>
                  </div>
                  <a href="./registry" target="_self">
                    <p class="ch-a-c-t-i-kho-n ui text size-md">
                      <span class="ch-a-c-t-i-kho-n-span"> Chﾆｰa cﾃｳ tﾃi kho蘯｣n ?</span>
                      <span class="ch-a-c-t-i-kho-n-span-1"> &nbsp;ﾄ斉ハg kﾃｽ</span>
                    </p>
                  </a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img src="../../../public/images/shop/backgroundlogin2.png" alt="image 101" class="image-101" />
    </div>
  </body>
</html>

