<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/repassword" method="post">
        nhập gmail đăng ký: <input type="text" name="gmail">
        <div><%= content %></div>
        <button type="submit">Lấy lại mật khẩu</button>
    </form>
</body>
</html> -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Quên mật khẩu</title>
    <link rel="icon" href="../../../public/images/shop/Logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <img
      alt="Logo"
      src="https://appproject.dhiwise.com/dhiwise-logo.png?c=&v="
      style="width: 0px; height: 0px; display: none"
    />
    <link rel="stylesheet" type="text/css" href="../../../public/css/index.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/font.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/components.css" />
    <link rel="stylesheet" type="text/css" href="../../../public/css/BUYERQuenMatKhau.css" />
  </head>
  <body>
    <div class="buyerquenmatkhau">
      <img src="../../../public/images/shop/Logo_Text.png" alt="header logo" class="header-logo-4" />
      <div class="group-620">
        <div class="group-629 container-xs">
          <div class="container-158-2">
            <div class="group-628">
              <div class="group-627">
                <a href="./BUYERDangNhap.html" target="_self">
                  <img src="../../../public/images/shop/singup_back.png" alt="nav left 1" class="nav-left-1-1" />
                </a>
                <h1 class="ch-m-s-c-kh-ch-h-ng ui heading size-2xl">QUÊN MẬT KHẨU</h1>
              </div>
              <form action="/repassword" method="post">
              <div class="textbox-39-3">
                <h2 class="t-i-kho-n ui heading size-md">Tài khoản</h2>
                <label class="textfield-4 ui input gray_100 size-md fill">
                  <img src="../../../public/images/shop/icon_email.png" alt="lock" class="lock" />
                  <input name="gmail" placeholder="Nhập email" type="email" />
                  <div><%= content %></div>
                </label>
              </div>
                <button type="submit" class="button-151-3 ui button deep_orange_300 size-5xl fill">Gửi lại mật khẩu</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

