<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/repassword" method="post">
        nhập gmail đăng ký: <input type="text" name="gmail">
        <div><%= content %></div>
        <button type="submit">Lấy lại mật khẩu</button>
    </form>
</body>
</html>